
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Navbar Template for Bootstrap</title>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/navbars/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<style>
.error {
	background-color: yellow;
}

.success {
	background: #28a745;
}
</style>
</head>

<body>



	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #e3f2fd;">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor03" aria-controls="navbarColor03"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/user/allAcc}">All Account <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/checkSale}">Thống kê</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/imageupload}">Quan Ly upload</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/user/upload}">Upload</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/alluser}">Quản lý người dùng</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
			</ul>
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search"> <a href="#"
					th:href="@{/logout}">Log Out</a>
			</form>
		</div>
	</nav>



	<div class="row" style="padding-left: 15px;">


		<div class="col-sm-2">
			<section>
				<h3>
					<small>Quản lý account</small>
				</h3>

			</section>
		</div>


	</div>
	<div class="row" style="padding-left: 15px;">
		<form th:action="@{/user/checkSale}" style="width: 100%;">
			<div class="form-row">
				<div class="form-group col-md-2"></div>
				<div class="form-group col-md-4">
					<label class="col-md-3" for="inputEmail4">DATE SEARCH</label> <input
						type="date" id="tu" th:value="${daySeach!=null ? daySeach:''}"
						name="daySearch">
				</div>

			</div>

			<div class="col-md-2 " style="margin: auto;">

				<button type="submit" class="btn btn-primary col-md-12">Tìm
					kiếm</button>
			</div>





		</form>



	</div>
	<div class="form-control">

		<div class="form-row" style="padding: 10px;">
			<table class="table table-hover"
				style="text-align: center; width: 50%; margin: auto;">
				<thead>
					<tr>

						<th>Sale</th>
						<th>Money</th>
						<th>Sale yesterday</th>
						<th>Money Yesterday</th>
						<th>Sale Last 7 Days</th>
						<th>Money Last 7 Days</th>
						<th>Sale This Month</th>
						<th>Money This Month</th>
						<th>Sale Previous Month</th>
						<th>Money Previous Month</th>
						<th>Sale All Time</th>
						<th>Money All Time</th>
					</tr>
				</thead>
				<tbody>

					<tr data-toggle="tooltip">


						<td id="soldToday"></td>
						<td id="soldMoney"></td>
						<td id="soldyesterday"></td>
						<td id="soldyesterdaymoney"></td>
						<td id="sold7day"></td>
						<td id="soldtmoney"></td>
						<td id="soldthismonth"></td>
						<td id="soldthismonthmoney"></td>
						<td id="soldpreviousmonth"></td>
						<td id="soldpreviousmonthmoney"></td>
						<td id="soldalltime"></td>
						<td id="soldalltimemoney"></td>







					</tr>

				</tbody>
			</table>

			<!-- <div class="row col-md-12">
				<label class="col-md-2">Sold Today</label>
				<div class="col-md-1 soldToday"></div>
			</div>
			<div class="row col-md-12">
				<label class="col-md-2">Money Today</label>
				<div class="col-md-1 soldMoney"></div>
			</div> -->

		</div>
		<div class="card-body table-responsive p-0">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>STT</th>
						<th>Name</th>
						<th>Status</th>
						<th>upload</th>
						<th>Tier</th>
						<th>Design</th>
						<th>Sale</th>
						<th>Money</th>
						<th>Sale yesterday</th>
						<th>Money Yesterday</th>
						<th>Sale Last 7 Days</th>
						<th>Money Last 7 Days</th>
						<th>Sale This Month</th>
						<th>Money This Month</th>
						<th>Sale Previous Month</th>
						<th>Money Previous Month</th>
						<th>Sale All Time</th>
						<th>Money All Time</th>
						<th>ip</th>
						<th>email</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${lst != null}">
						<tr data-toggle="tooltip" th:each="item, k : ${lst}">

							<td th:text="${k.index + 1}" class="text-right"
								style="width: 5%;">1</td>

							<td th:text="${item.name}" class="text-left nameAcc">
							<td th:text="${item.status=='0' ? 'Error':'Success'}"
								th:class="${item.status=='0' ? 'error' : 'success' } "
								class="text-left nameAcc"></td>
								<td th:text="${item.used +'/'+ item.limitslot}" class="text-left"></td>
							<td th:text="${item.tier}" class="text-left"></td>
							<td th:text="${item.coutDesgin +'/'+item.tier}" th:class="${!#strings.equals(item.tier, #strings.toString(item.coutDesgin)) ? 'text-left success' : 'text-left' } " ></td>
							<td class="text-left saleToday"><input type="hidden"
								class="idSaleMerch" th:value="${item.id}"> <a
								href="javascript:void()" th:text="${item.sale}" class="showDS">
							</a></td>
							<td th:text="${item.money}" class="text-left moneyToday"></td>

							<td th:text="${item.yesterday}" class="text-left soldyesterday"></td>
							<td th:text="${item.moneyyesterday}"
								class="text-left soldyesterdaymoney"></td>


							<td th:text="${item.last7daySale}" class="text-left sold7day"></td>
							<td th:text="${item.last7dayMoney}" class="text-left soldtmoney"></td>
							<td th:text="${item.thismonthSale}"
								class="text-left soldthismonth"></td>
							<td th:text="${item.thismonthMoney}"
								class="text-left soldthismonthmoney"></td>
							<td th:text="${item.previousmonthSale}"
								class="text-left soldpreviousmonth"></td>
							<td th:text="${item.previousmonthMoney}"
								class="text-left soldpreviousmonthmoney"></td>
							<td th:text="${item.alltimeSale}" class="text-left soldalltime"></td>
							<td th:text="${item.alltimeMoney}"
								class="text-left soldalltimemoney"></td>


							<td th:text="${item.ip}" class="text-left"></td>
							<td th:text="${item.email}" class="text-left"></td>


						</tr>
					</th:block>
				</tbody>
			</table>
		</div>

	</div>


	<div class="modal fade" id="channelEdit" style="display: none;"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">SALE</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body channelEditBody"></div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default closetModal"
						data-dismiss="modal">Close</button>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:inline="javascript">
	var base_url = [[@{/}]];
		function roundToTwo(num) {    
		    return +(Math.round(num + "e+2")  + "e-2");
		}
		$(document).ready(function() {
			var sum = 0;
			var money = 0;
			$('.saleToday').each(function() {
				console.log($(this).text());
				sum = sum + parseInt($(this).text());

			});
			$('.moneyToday').each(function() {
				console.log($(this).text());
				money = money + parseFloat($(this).text());

			});
			$('#soldToday').text(roundToTwo(sum));
			$('#soldMoney').text(roundToTwo(money));
			console.log(sum);
			
			
			
			var sum = 0;
			var money = 0;
			$('.soldyesterday').each(function() {
				console.log($(this).text());
				sum = sum + parseInt($(this).text());

			});
			$('.soldyesterdaymoney').each(function() {
				console.log($(this).text());
				money = money + parseFloat($(this).text());

			});
			$('#soldyesterday').text(sum);
			$('#soldyesterdaymoney').text(roundToTwo(money));
			console.log(sum);
			
			
			var sum = 0;
			var money = 0;
			$('.sold7day').each(function() {
				console.log($(this).text());
				sum = sum + parseInt($(this).text());

			});
			$('.soldtmoney').each(function() {
				console.log($(this).text());
				money = money + parseFloat($(this).text());

			});
			$('#sold7day').text(sum);
			$('#soldtmoney').text(roundToTwo(money));
			console.log(sum);
			
			var sum = 0;
			var money = 0;
			$('.soldthismonth').each(function() {
				console.log($(this).text());
				sum = sum + parseInt($(this).text());

			});
			$('.soldthismonthmoney').each(function() {
				console.log($(this).text());
				money = money + parseFloat($(this).text());

			});
			$('#soldthismonth').text(sum);
			$('#soldthismonthmoney').text(roundToTwo(money));
			console.log(sum);
			var sum = 0;
			var money = 0;
			$('.soldpreviousmonth').each(function() {
				console.log($(this).text());
				sum = sum + parseInt($(this).text());

			});
			$('.soldpreviousmonthmoney').each(function() {
				console.log($(this).text());
				money = money + parseFloat($(this).text());

			});
			$('#soldpreviousmonth').text(sum);
			$('#soldpreviousmonthmoney').text(roundToTwo(money));
			console.log(sum);
			var sum = 0;
			var money = 0;
			$('.soldalltime').each(function() {
				console.log($(this).text());
				sum = sum + parseInt($(this).text());

			});
			$('.soldalltimemoney').each(function() {
				console.log($(this).text());
				money = money + parseFloat($(this).text());

			});
			$('#soldalltime').text(sum);
			$('#soldalltimemoney').text(roundToTwo(money));
			console.log(sum);
			
			
			
		});
		
		
		
		 $('.showDS').click(function() {
			 var id= $(this).parents('tr').find('.idSaleMerch').val();
			 console.log(id)
			 $.ajax({
	              url: base_url + 'user/showDS',
	              data:{id:id},
	              async: false,
	              success: function(rs) {
	            	  $('.channelEditBody').html(rs);
	              	//	  treeTable2(".tree-table");
	                  	  $('#channelEdit').modal('show');
	            	 
	              },
	              error: function (xhr, ajaxOptions, thrownError) {
	            	  alert("Lỗi!");
	            }
	          });
			 
		 });
		 
		 
	</script>


</body>
</html>
